.info-box {
  width: 95%;
  margin: 0 auto;
  padding-top: 6em;
  border-radius: $global-radius;
  border: 1px solid $grey;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:after {
    padding: 0;
    width: 0;
    top: 100%;
  }
  &:hover {
    &:after {
      content: attr(data-content);
      position: absolute;
      bottom: 0;
      background: rgba(6, 155, 249, 0.8);
      width: 100%;
      color: #fff;
      left: 0;
      top: 0;
      padding: 0.4em 0.4em 4em;
      z-index: 1;
      animation-duration: 1s;
      animation-name: slidein;
    }
  }
}

.info-box--stv-news {
  background: url('../images/stv-news.png');
  background-size: cover;
}

.info-box--stv-player {
  background: url('../images/stv-player.png');
  background-size: cover;
}

.info-box--iberdrola {
  background: url('../images/iberdrola.png');
  background-size: cover;
}

.info-btn {
  border-radius: $global-radius;
  padding: 3px 5px;
  position: relative;
  z-index: 2;
  &:visited {
    color: #fff;
  }
}


@keyframes slidein {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}