.main-nav {
  position: relative;
  text-align: right;
  :before {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 5px;
    background: #000;
    content: '';
    cursor: pointer;
  }
  @include tablet {
    :before {
      width: 0px;
      height: 0px;
    }
  }
  @include desktop {
    :before {
      width: 0px;
      height: 0px;
    }
  }
}

.main-nav__item {
  display: none;
  position: relative;
  @include tablet {
    display: inline-block;
  }
  @include desktop {
    display: inline-block;
  }
  a, a:visited, a:active {
    color: $grey;
    text-decoration: none;
    margin-right: 0.8em;
    line-height: 1em;
  }
  a:hover {
    text-shadow:0 0 0.08em $grey, 0 0 0.08em $grey, 0 0 0.08em $grey;
  }
  &:last-of-type {
    a {
      margin-right: 0;
    }
  }
}

.main-nav__item--with-icon {
  padding-left: 28px;
  position: relative;
  :before {
    content: url('../images/Github-Mark-64px.png');
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
  }
}